/* Client Logos  */

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

/* Pause on hover */
.client-slider:hover .client-logos {
  animation-play-state: paused;
}

.client-logos {
  animation: scroll 40s linear infinite;
}

/*Horizontal Scroll */
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  margin-inline: -5%;
  padding-inline: 5%;
}

.horizontal-scroll > * {
  flex: 0 0 85%;
  min-width: 260px;
}

/* Hide scrollbar */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll {
  scrollbar-width: none;
}

/* h2 scroll animation */
.scroll-heading {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: opacity, transform;
}

.scroll-heading.show {
  opacity: 1;
  transform: translateY(0);
}

/* meet customers logo hover */
.meet-customer-logos img:hover {
  transform: translateY(-6px);
}

/* feature card appear */
.feature-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.feature-card.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 767px) {
  .horizontal-scroll {
    display: grid;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  .horizontal-scroll > * {
    flex: unset;
    min-width: auto;
  }
}
